<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />

    <link rel="stylesheet" href="/templates/olympic-touch/css/style.css">
    <link rel="icon" href="/templates/olympic-touch/favicons/base-16x16.png" sizes="16x16">
    <link rel="icon" href="/templates/olympic-touch/favicons/base-24x24.png" sizes="32x32">
    <link rel="icon" href="/templates/olympic-touch/favicons/base-32x32.png" sizes="32x32">
    <link rel="icon" href="/templates/olympic-touch/favicons/base-64x64.png" sizes="64x64">

    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="Фитнес-клуб Olympic Touch">
    <link rel="apple-touch-icon" sizes="120x120" href="/templates/olympic-touch/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/templates/olympic-touch/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/templates/olympic-touch/img/favicons/apple-touch-icon-180x180.png">
    <!-- og -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="/templates/olympic-touch/favicons/og.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Фитнес-клуб Olympic Touch" />
    {% if activePage == '/' %}
        <meta property="og:url" content="https://frontend-design.ru/" />
    {% else %}
        <meta property="og:url" content="https://frontend-design.ru/{{ activePage }}/" />
    {% endif %}
    <meta property="og:locale" content="ru_RU" />
</head>

<body>
    <div class="page">
        <header class="page__header page-header">
            <nav class="page-header__nav top-bar">
                <ul class="top-bar__list">
                    <li class="top-bar__item">
                        <a href="/about/" class="top-bar__link">О клубе</a>
                    </li>
                    <li class="top-bar__item">
                        <a href="/feedback/" class="top-bar__link">Обратная связь</a>
                    </li>
                    <li class="top-bar__item">
                        <a href="/freeze/" class="top-bar__link">Заморозка карты</a>
                    </li>
                    <li class="top-bar__item">
                        <a href="/jobs/" class="top-bar__link">Вакансии</a>
                    </li>
                    <li class="top-bar__item">
                        <a href="/contacts/" class="top-bar__link">Контакты</a>
                    </li>
                </ul>

                <a href="/order/" class="button top-bar__button">Оформить карту</a>
            </nav>

            <div class="page-header__info header-info">
                <address class="header-info__address address">
                    <p class="address__place">ул. Доблести, 9</p>
                    <p class="address__time">Время работы: 7:00–24:00</p>
                    <a href="#" class="address__link">Посмотреть на карте</a>
                </address>

                <div class="header-info__logo">
                    <a href="/" class="logo">
                        <img src="https://via.placeholder.com/180x100" alt="Olympic Touch" class="logo__img">
                    </a>
                </div>

                <ul class="header-info__contacts conyscys">
                    <li class="contacts__item">
                        <a href="tel:89210984646" class="contacts__link">8 921 098-46-46</a>
                        <a href="mailto:info@olympic-touch.ru" class="contacts__link">info@olympic-touch.ru</a>
                    </li>
                </ul>
            </div>
        </header>

        <main class="page__main main">
            <h1 class="visually-hidden">Фитнес-клуб Olympic Touch</h1>

            <section class="main__section promo">
                <h2 class="visually-hidden">О клубе Olympic Touch</h2>
                <div class="promo__slider slider">
                    <ul class="slider__list">
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                        <li class="slider__item"><img src="https://via.placeholder.com/1200x800" alt="Описание фото" class="slider__img"></li>
                    </ul>

                    <div class="slider__controls">
                        <button type="button" class="slider__button">
                            <span class="visually-hidden">Предыдущий слайд</span>
                        </button>
                        <button type="button" class="slider__button">
                            <span class="visually-hidden">Следующий слайд</span>
                        </button>
                    </div>
                </div>

                <div class="promo__hero">
                    <p class="promo__heading">Атмосфера олимпийских свершений</p>
                    <p class="promo__text">Современный фитнес-центр на юго-западе Санкт-Петербурга</p>
                    <a href="/order/" class="button button_color_secondary">Оформить карту</a>
                </div>

                <h3 class="visually-hidden">В фитнес-центре есть:</h3>
                <ul class="promo__list block-list">
                    <li class="block-list__item block-list__item_ico_training">Тренажерный зал</li>
                    <li class="block-list__item block-list__item_ico_cardio">Кардиозона</li>
                    <li class="block-list__item block-list__item_ico_aerobic">Аэробный зал</li>
                    <li class="block-list__item block-list__item_ico_sauna">Сауна</li>
                    <li class="block-list__item block-list__item_ico_box">Зал для единоборств</li>
                </ul>
            </section>

            <section class="main__section actions">
                <h2 class="visually-hidden">Акции</h2>
            </section>
        </main>

    </div>
</body>
</html>
