{% set title = 'Фитнес-клуб Olympic Touch' %}
{% set description = 'Фитнес-клубы Olympic Touch в Красносельском районе' %}
{% set keywords = 'Olympic Touch, Олимпик Тач, фитнес, фитнес-клуб, спорт-клуб' %}
{% set activePage = '/' %}

{% extends '../layouts/index.njk' %}
