{% set title = 'Фитнес-клуб Olympic Touch' %}
{% set description = 'Фитнес-клубы Olympic Touch в Красносельском районе' %}
{% set keywords = 'Olympic Touch, Олимпик Тач, фитнес, фитнес-клуб, спорт-клуб' %}
{% set activeTopBar = '/' %}

{% extends '../layouts/index.njk' %}

{% block content %}
	<h1 class="visually-hidden">Фитнес-клуб Olympic Touch</h1>

	<section class="page-main__section promo">
		<h2 class="visually-hidden">О клубе Olympic Touch</h2>
		<div class="promo__slider slider">
			{% include "blocks/slider-list.njk" %}

			<button class="slider__autoplay">
				<span class="visually-hidden">Запустить/остановить слайдер</span>
			</button>

			<div class="slider__controls">
				<button type="button" class="slider__button">
					<span class="visually-hidden">Предыдущий слайд</span>
				</button>
				<button type="button" class="slider__button">
					<span class="visually-hidden">Следующий слайд</span>
				</button>
			</div>
		</div>

		<div class="page-main__container">
			<div class="flex-grid flex-grid_align_start">
				<div class="promo__hero flex-grid__column flex-grid__column_12 flex-grid__column_large_5">
					<p class="promo__heading">Атмосфера олимпийских свершений</p>
					<p class="promo__text">Современный фитнес-центр на юго-западе Санкт-Петербурга</p>
					<a href="/order/" class="promo__button button button_secondary">Оформить карту</a>
				</div>

				<h3 class="visually-hidden">В фитнес-клубе есть:</h3>
				<ul class="promo__list flex-grid__column block-list">
					<li class="block-list__item block-list__item_ico_training">Тренажерный зал</li>
					<li class="block-list__item block-list__item_ico_cardio">Кардиозона</li>
					<li class="block-list__item block-list__item_ico_aerobic">Аэробный зал</li>
					<li class="block-list__item block-list__item_ico_sauna">Сауна</li>
					<li class="block-list__item block-list__item_ico_box">Зал для единоборств</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="page-main__section actions">
		<h2 class="visually-hidden">Акции</h2>

		<div class="page-main__container">
			<ul class="actions__slider">
				<li class="actions__item actions__item_active">
					<div class="actions__img">
						<picture>
							<source
								srcset="/img/actions/small/zozh-small.webp 1x, /img/actions/small/zozh-small@2x.webp 2x"
								media="(max-width: 768px)"
								type="image/webp"
								loading="lazy"
							/>
							<source
								srcset="/img/actions/small/zozh-small.jpg 1x, /img/actions/small/zozh-small@2x.jpg 2x"
								media="(max-width: 768px)"
								loading="lazy"
							/>
							<source
								srcset="/img/actions/medium/zozh-medium.webp 1x, /img/actions/medium/zozh-medium@2x.webp 2x"
								media="(max-width: 1000px)"
								type="image/webp"
								loading="lazy"
							/>
							<source
								srcset="/img/actions/medium/zozh-medium.jpg 1x, /img/actions/medium/zozh-medium@2x.jpg 2x"
								media="(max-width: 1000px)"
								loading="lazy"
							/>
							<source
								srcset="/img/actions/large/zozh-large.webp 1x, /img/actions/large/zozh-large@2x.webp 2x"
								type="image/webp"
								loading="lazy"
							/>
							<img
								src="/img/actions/large/zozh-large.jpg"
								srcset="/img/actions/large/zozh-large@2x.jpg 2x"
								width="458" height="300"
								alt="Инвестируй в ЗОЖ"
								loading="lazy"
							/>
						</picture>
					</div>

					<h3 class="actions__heading">Инвестируй в ЗОЖ</h3>
					<p class="actions__text">100 клубных карт за <strong class="currency">8 500</strong></p>
					<p class="actions__details">Безлимитный год: абонемент на полный день</p>
					<p class="actions__terms">Срок проведения акции до 06.05.2020</p>
					<a href="/order/" class="actions__button button">Оформить карту</a>
				</li>

				<li class="actions__item">
					<div class="actions__img">
						<picture>
							<source
								srcset="/img/actions/small/brave-small.webp 1x, /img/actions/small/brave-small@2x.webp 2x"
								media="(max-width: 768px)"
								type="image/webp"
								loading="lazy"
							/>
							<source
								srcset="/img/actions/small/brave-small.jpg 1x, /img/actions/small/brave-small@2x.jpg 2x"
								media="(max-width: 768px)"
								loading="lazy"
							/>
							<source
								srcset="/img/actions/medium/brave-medium.webp 1x, /img/actions/medium/brave-medium@2x.webp 2x"
								media="(max-width: 1000px)"
								type="image/webp"
								loading="lazy"
							/>
							<source
								srcset="/img/actions/medium/brave-medium.jpg 1x, /img/actions/medium/brave-medium@2x.jpg 2x"
								media="(max-width: 1000px)"
								loading="lazy"
							/>
							<source
								srcset="/img/actions/large/brave-large.webp 1x, /img/actions/large/brave-large@2x.webp 2x"
								type="image/webp"
								loading="lazy"
							/>
							<img
								src="/img/actions/large/brave-large.jpg"
								srcset="/img/actions/large/brave-large@2x.jpg 2x"
								width="458" height="300"
								alt="Скидка для смелых!"
								loading="lazy"
							/>
						</picture>
					</div>

					<h3 class="actions__heading">Скидка для смелых!</h3>
					<p class="actions__text">Безлимитный год за <strong class="currency">9 500</strong></p>
					<p class="actions__details">Стоимость за годовой абонемент на полный день</p>
					<p class="actions__terms">Срок проведения акции до 25 марта</p>
					<a href="/order/" class="actions__button button">Оформить карту</a>
				</li>
			</ul>

			<div class="actions__nav slider-nav">
				<button type="button" class="slider-nav__button">
					<span class="visually-hidden">Акция №1</span>
				</button>
				
				<button type="button" class="slider-nav__button">
					<span class="visually-hidden">Акция №2</span>
				</button>
			</div>
		</div>
	</section>

	<section class="page-main__section services">
		<div class="page-main__container">
			<h2 class="page-main__heading">Клубная карта</h2>

			<div class="flex-grid">
				<div class="flex-grid__column">
					<div class="services__card"></div>
				</div>

				<section class="services__included flex-grid__column flex-grid__column_12 flex-grid__column_large_7">
					<h3 class="visually-hidden">В карту включено:</h3>

					<ul class="services__list block-list block-list_white">
						<li class="block-list__item">Посещение тренажерного зала</li>
						<li class="block-list__item">Первый инструктаж</li>
						<li class="block-list__item">Групповые занятия</li>
						<li class="block-list__item">Посещение сауны</li>
					</ul>

					<p class="services__text">Карта позволяет заниматься в клубе без ограничений в рабочие часы клуба или в соответствии с вашим тарифом</p>
				</section>
			</div>

			<section class="services__tariffs tariffs">
				<h3 class="visually-hidden">Тарифы</h3>

				<ul class="tariffs__list flex-grid flex-grid_large_3">
					<li class="tariffs__item flex-grid__column flex-grid__column_1">
						<h4 class="tariffs__heading">Утро</h4>

						<h5 class="visually-hidden">Расписание</h5>
						<ul class="tariffs__schedule schedule">
							<li class="schedule__item">
								<span class="schedule__days">Будние дни</span>
								<b class="schedule__time">7:00–16:00</b>
							</li>
							<li class="schedule__item">
								<span class="schedule__days">Выходные дни</span>
								<b class="schedule__time">9:00–16:00</b>
							</li>
						</ul>

						<h5 class="visually-hidden">Цены</h5>
						<ul class="tariffs__price price">
							<li class="price__item">
								<b class="price__term">1 год</b>
								<strong class="price__cost currency">8 500 <span class="visually-hidden">рублей</span></strong>
							</li>
						</ul>

						<a href="/order/" class="tariffs__button button button_secondary button_small">Оформить карту</a>
					</li>

					<li class="tariffs__item flex-grid__column flex-grid__column_1">
						<h4 class="tariffs__heading">Весь день</h4>
						<span class="tariffs__label">Скидка</span>

						<h5 class="visually-hidden">Расписание</h5>
						<ul class="tariffs__schedule schedule">
							<li class="schedule__item">
								<span class="schedule__days">Будние дни</span>
								<b class="schedule__time">7:00–24:00</b>
							</li>
							<li class="schedule__item">
								<span class="schedule__days">Выходные дни</span>
								<b class="schedule__time">9:00–21:00</b>
							</li>
						</ul>

						<h5 class="visually-hidden">Цены</h5>
						<ul class="tariffs__price price">
							<li class="price__item">
								<b class="price__term">1 месяц</b>
								<strong class="price__cost currency">4 000 <span class="visually-hidden">рублей</span></strong>
							</li>
							<li class="price__item">
								<b class="price__term">3 месяца</b>
								<strong class="price__cost currency">6 200 <span class="visually-hidden">рублей</span></strong>
							</li>
							<li class="price__item">
								<b class="price__term">6 месяцев</b>
								<strong class="price__cost currency">7 500 <span class="visually-hidden">рублей</span></strong>
							</li>
							<li class="price__item">
								<b class="price__term">1 год</b>
								<s class="price__cost price__cost_old currency"><span class="visually-hidden">Цена до скидки:</span> 11 750 <span class="visually-hidden">рублей</span></s>
								<strong class="price__cost currency"><span class="visually-hidden">Цена со скидкой:</span> 9 500 <span class="visually-hidden">рублей</span></strong>
							</li>
						</ul>

						<a href="/order/" class="tariffs__button button button_small">Оформить карту</a>
					</li>

					<li class="tariffs__item flex-grid__column flex-grid__column_1">
						<h4 class="tariffs__heading">День</h4>

						<h5 class="visually-hidden">Расписание</h5>
						<ul class="tariffs__schedule schedule">
							<li class="schedule__item">
								<span class="schedule__days">Будние дни</span>
								<b class="schedule__time">12:00–17:00</b>
							</li>
							<li class="schedule__item">
								<span class="schedule__days">Выходные дни</span>
								<b class="schedule__time">12:00–17:00</b>
							</li>
						</ul>

						<h5 class="visually-hidden">Цены</h5>
						<ul class="tariffs__price price">
							<li class="price__item">
								<b class="price__term">1 год</b>
								<strong class="price__cost currency">5 900 <span class="visually-hidden">рублей</span></strong>
							</li>
						</ul>

						<a href="/order/" class="tariffs__button button button_secondary button_small">Оформить карту</a>
					</li>
				</ul>
			</section>

			<section class="services__additional additional">
				<h3 class="additional__heading">Дополнительные услуги</h3>

				<ul class="additional__list">
					<li class="additional__item">
						<p class="additional__title">Персональные тренировки</p>
						<strong class="additional__price currency">от 1000 <span class="visually-hidden">рублей</span></strong>
					</li>
					<li class="additional__item">
						<p class="additional__title">Дополнительный инструктаж</p>
						<strong class="additional__price currency">от 1000 <span class="visually-hidden">рублей</span></strong>
					</li>
					<li class="additional__item">
						<p class="additional__title">Солярий</p>
						<strong class="additional__price currency">от 1800 <span class="visually-hidden">рублей</span></strong>
					</li>
					<li class="additional__item">
						<p class="additional__title">Полотенца</p>
						<strong class="additional__price currency">от 500 <span class="visually-hidden">рублей</span></strong>
					</li>
				</ul>
			</section>
		</div>
	</section>
{% endblock %}
