{% set title = 'Правила поведения в клубе' %}
{% set description = 'Правила поведения в клубе Olympic Touch' %}
{% set keywords = 'Правила поведения' %}
{% set activeTopBar = 'about' %}
{% set activeSubmenu = 'rules' %}

{% extends '../layouts/index.njk' %}

{% block content %}
	<header class="page-main__header main-header">
		<ul class="main-header__breadcrumbs breadcrumbs" aria-label="Хлебные крошки">
			<li class="breadcrumbs__item">
				<a href="/" class="breadcrumbs__link">
					<span class="visually-hidden">Главная страница</span>
				</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="/about/" class="breadcrumbs__link">О нас</a>
			</li>
			<li class="breadcrumbs__item">Правила поведения</li>
		</ul>

		<h1 class="main-header__heading">Правила поведения в клубе</h1>

        <div class="main-header__submenu">
	    	{% include "blocks/submenu.njk" %}
		</div>
	</header>

	<section class="page-main__section content">
		<div class="content__text">
			<h2>Членство</h2>
			<ol>
				<li>Членство в Клубе является персональным и может быть переоформлено на другое лицо только один раз в течение срока действия Членского контракта. Бесплатно членство переоформляется на прямого родственника. В остальных случаях переоформление платное;</li>
				<li>Для приобретения Членского контракта Клиент обязан предоставить консультанту по продажам паспорт;</li>
				<li>При оформлении Клубной карты Клиент должен сфотографироваться в отделе продаж;</li>
				<li>Клубная карта предъявляется администраторупри каждом посещении Клуба для идентификации;</li>
			</ol>

			<h2>Поведение в помещениях Клуба</h2>
			<ol>
				<li>При входе в Клуб требуется надевать бахилы;</li>
				<li>Для переодевания используются шкафчики в раздевалках. Ключ от шкафчика можно получать у администратора в обмен на Клубную карту. Перед уходом из Клуба шкафчик необходимо закрыть, сдать ключ администратору и получить обратно Клубную карту;</li>
				<li>За утрату ключа от шкафчиков в гардеробе, раздевалках и от сейфовых ячеек взимается штраф по прейскуранту;</li>
				<li>Ценные вещи (документы, деньги, украшения, часы, телефоны и т.д.) необходимо оставлять в сейфовых ячейках, расположенных рядом с рецепцией. Ключи от ячеек можно получить у администратора;</li>
				<li>Вход в залы для занятий разрешается только в спортивной одежде и обуви, которая должнабыть чистой и опрятной. Во время тренировок верхняя часть тела должна быть закрыта;</li>
				<li>Занятия в Клубе должны завершаться за 15 минут до окончания работы Клуба. Покидать Клуб необходимо не позднее установленного времени окончания работы Клуба;</li>
				<li>За 45 минут до закрытия Клуба вход в него прекращается;</li>
				<li>Штанги, гантели и другое незакрепленное оборудование и снаряжение после окончания занятия необходимо убирать на свое место самостоятельно. Во время отдыха между упражнениями на тренажерах следует освобождать их для возможности использования другими членами Клуба, при наличии таковых;</li>
				<li>При выборе уроков аэробики следует руководствоваться уровнем подготовленности. Необходимые рекомендации можно получить у администраторов или тренеров;</li>
				<li>В помещениях Клуба запрещается:
					<ul>
						<li>курить;</li>
						<li>находиться в нетрезвом состоянии;</li>
						<li>употреблять спиртные напитки, наркотики, запрещенные медикаменты;</li>
						<li>использовать ненормативную лексику;</li>
						<li>приносить с собой и хранить любой вид оружия;приносить и принимать пищу в залах для занятий;</li>
						<li>самостоятельно включать или выключать любое оборудование Клуба, кроме спортивного;</li>
						<li>посещать помещения для служебного пользования;</li>
						<li>оставлять свои вещи в шкафчиках раздевалок после окончания занятий в Клубе;</li>
						<li>проводить самостоятельные занятия в тренажерном зале детям до 16-ти лет;</li>
						<li>находиться в залах для занятий, раздевалках детям любого возраста во время ожидания окончания занятий их родителей;</li>
						<li>пользоваться вениками в саунах и турецкой парной;</li>
						<li>сушить одежду и полотенца, а также оставлять после себя какие-либо вещи и предметы в саунах и турецкой парной;</li>
						<li>лить холодную воду на камни и стены саун;</li>
						<li>использовать в саунах масла и настойки не разбавленные водой, так какони могут воспламениться;</li>
						<li>наносить на тело любые маски в зонахсаун и турецкой парной;</li>
						<li>осуществлять косметические процедуры в душевых;</li>
					</ul>
				</li>
				<li>Клуб имеет право вносить изменения в расписаниях работы в случае технической необходимости, временно закрывать доступ в отдельные помещения.</li>
			</ol>
		</div>

		<div class="content__aside aside">
			<h2 class="aside__heading">Загрузите информацию:</h2>

			<ul class="aside__files files">
				<li class="files__item">
					<a href="/files/documents/rules.pdf" class="files__link">Правила поведения в клубах</a>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}
