{% set title = 'Правила поведения в клубе' %}
{% set description = 'Правила поведения в клубе Olympic Touch' %}
{% set keywords = 'Правила поведения' %}

{% extends '../layouts/index.njk' %}

{% block content %}
	<header class="page-main__header main-header">
		<ul class="main-header__breadcrumbs breadcrumbs" aria-label="Хлебные крошки">
			<li class="breadcrumbs__item">
				<a href="/" class="breadcrumbs__link">
					<span class="visually-hidden">Главная страница</span>
				</a>
			</li>
			<li class="breadcrumbs__item">Политика конфиденциальности</li>
		</ul>

		<h1 class="main-header__heading">Политика конфиденциальности</h1>
	</header>

	<section class="page-main__section content">
		<div class="content__text">
			<h2>Общие положения</h2>
			<p>Настоящий документ определяет политику в&nbsp;отношении обработки персональных данных в&nbsp;ООО «СпортЛайф» в&nbsp;соответствии с&nbsp;требованиями&nbsp;ст.&nbsp;18.1 Федерального закона от&nbsp;27.07.2006 года №&nbsp;<nobr>152-ФЗ</nobr> «О&nbsp;персональных данных» (далее&nbsp;— Политика конфиденциальности).</p>
			<p>ООО «СпортЛайф» считает своим долгом защищать конфиденциальность персональных данных клиентов (далее&nbsp;— «Персональные данные», «Личная информация», «Личные данные»), которые могут быть идентифицированы каким-либо образом, и&nbsp;которые посещают веб-сайт www.sportlife.ru (далее&nbsp;— «Сайт») и&nbsp;пользуются его услугами (далее&nbsp;— «Сервисы»). Поправки к&nbsp;настоящей Политике конфиденциальности будут размещены на&nbsp;Сайте и/или в&nbsp;Сервисах и&nbsp;будут являться действительными сразу после публикации. Ваше дальнейшее использование Сервисов после внесения любых поправок в&nbsp;Политике конфиденциальности означает Ваше принятие данных изменений.</p>
			<h2>Получение и&nbsp;обработка персональных данных</h2>
			<p>Настоящая Политика конфиденциальности регулирует отношения между ООО «СпортЛайф» и&nbsp;физическим или юридическим лицом (далее&nbsp;— «Вы», «Ваш») в&nbsp;области предоставления и&nbsp;обработки Персональных данных. ООО «СпортЛайф» производит обработку Ваших персональных данных на&nbsp;условиях, являющихся предметом настоящей Политики конфиденциальности.</p>
			<p>Политика конфиденциальности вступает в&nbsp;силу с&nbsp;момента подтверждения соглашения Вами на&nbsp;обработку персональных данных, в&nbsp;частности при заполнения формы заявки на&nbsp;Сайте. ООО «СпортЛайф» сохраняет за&nbsp;собой право изменять настоящую Политику конфиденциальности в&nbsp;любое время без какого-либо специального уведомления. Если Вы&nbsp;продолжаете пользоваться услугами ООО «СпортЛайф» после публикации изменений в&nbsp;Политике конфиденциальности, считается, что&nbsp;Вы тем самым принимаете изменения условий Политики конфиденциальности.</p>
			<p>Заполняя форму заявки на&nbsp;сайте ООО «СпортЛайф», Вы&nbsp;подтверждаете принятие Вами решения о&nbsp;предоставлении своих персональных данных и&nbsp;даете согласие на&nbsp;их&nbsp;обработку своей волей и&nbsp;в&nbsp;своем интересе, за&nbsp;исключением случаев, предусмотренных частью 2&nbsp;статьи 9&nbsp;Федерального закона от&nbsp;27.07.2006 №&nbsp;152-ФЗ «О&nbsp;персональных данных». Вы&nbsp;несете ответственность за&nbsp;предоставление персональных данных иного лица. Личные данные, вводимые Вами при использовании сервиса ООО «СпортЛайф», используются для:</p>
			<ul> 
				<li>—&nbsp;совершения торговой сделки и/или оказания услуги;</li>
				<li>—&nbsp;предоставления Вам доступа к&nbsp;Сайту, Сервисам и&nbsp;для улучшения качества Сайта и&nbsp;Сервисов;</li>
				<li>—&nbsp;предоставления информации Вам, чтобы&nbsp;Вы могли использовать Сайт и&nbsp;Сервисы более эффективно;</li>
				<li>—&nbsp;общения с&nbsp;Вами с&nbsp;целью информирования об&nbsp;изменениях или дополнениях к&nbsp;Сервисам, или о&nbsp;наличии любых услуг, которые мы&nbsp;предоставляем;</li>
				<li>—&nbsp;оценки уровня обслуживания, мониторинга трафика и&nbsp;показателя популярности различных вариантов обслуживания;</li>
				<li>—&nbsp;осуществления наших маркетинговых мероприятий;</li>
				<li>—&nbsp;соблюдения настоящей Политики конфиденциальности;</li>
				<li>—&nbsp;подачи претензии и&nbsp;ответа на&nbsp;поданные претензии;</li>
				<li>—&nbsp;защиты прав и&nbsp;законных интересов Вас, нас, наших пользователей и&nbsp;третьих лиц, в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации.</li>
			</ul>
			<p>ООО «СпортЛайф» обязуется не&nbsp;передавать Ваши личные данные третьим лицам.</p>
			<p>ООО «СпортЛайф» оставляет за&nbsp;собой право в&nbsp;предусмотренных законом случаях передавать личные данные соответствующим службам, если это делается для защиты здоровья, жизни или свободы другого лица.</p>
			<p>ООО «СпортЛайф» вправе использовать персональные данные пользователя для электронной рассылки новостей и&nbsp;спецпредложений, оформления и&nbsp;проведения торговой сделки и&nbsp;оказания услуг. Принятие Политики конфиденциальности осуществляется путем заполнения и&nbsp;отправки заявки на&nbsp;Сайте и&nbsp;является Вашим согласием на&nbsp;обработку персональных данных.</p>
			<p>Вы&nbsp;соглашаетесь с&nbsp;тем, что ООО «СпортЛайф» имеет право на&nbsp;хранение и&nbsp;обработку, в&nbsp;том числе и&nbsp;автоматизированную, любой информации, относящейся к&nbsp;Вашим персональным данным в&nbsp;соответствии с&nbsp;Федеральным законом от&nbsp;27.07.2006 №&nbsp;152-ФЗ «О&nbsp;персональных данных», включая сбор, систематизацию, накопление, хранение, уточнение, использование, распространение (в&nbsp;том числе передачу), обезличивание, блокирование, уничтожение персональных данных, предоставленных Вами.</p>
			<p>Обработка Ваших персональных данных производится путем смешанной обработки персональных данных без передачи и&nbsp;с&nbsp;передачей по&nbsp;внутренней сети ООО «СпортЛайф» c&nbsp;передачей и&nbsp;без передачи по&nbsp;сети Интернет.</p>
			<p>ООО «СпортЛайф» обязуется обеспечить конфиденциальность и&nbsp;безопасность при обработке Ваших персональных данных. В&nbsp;случае отзыва Вами согласия на&nbsp;обработку персональных данных, ООО «СпортЛайф» удаляет Ваши персональные данные и&nbsp;не&nbsp;использует их&nbsp;в&nbsp;дальнейшем.</p>
			<h2>Согласие на&nbsp;сбор и&nbsp;использование информации</h2>
			<p>Когда Вы&nbsp;заполняете форму заявки на&nbsp;сайте, мы&nbsp;просим предоставить личную информацию, которая будет использоваться для предоставления Вам Сервисов и&nbsp;для других целей, изложенных в&nbsp;настоящей Политике конфиденциальности. Ваше имя, название компании, адрес, номер телефона, адрес электронной почты и&nbsp;некоторые другие сведения о&nbsp;Вас могут потребоваться нам для первоначального диалога о&nbsp;предоставлении наших услуг.</p>
			<p>Предоставляя личную информацию нам, Вы&nbsp;добровольно соглашаетесь на&nbsp;сбор, использование и&nbsp;раскрытие такой личной информации. Не&nbsp;ограничивая вышесказанное, мы&nbsp;можем время от&nbsp;времени уточнять Ваше согласие в&nbsp;процессе сбора, использования или раскрытия Вашей личной информации в&nbsp;конкретных обстоятельствах. Иногда Ваше согласие будет подразумеваться через Ваше взаимодействие с&nbsp;нами, если цель сбора, использования или раскрытия информации очевидна, и&nbsp;Вы добровольно предоставляете эту информацию.</p>
			<p>Иногда мы&nbsp;можем оповещать Вас по&nbsp;поводу наших продуктов, услуг, новостей и&nbsp;событий. У&nbsp;Вас есть возможность отказаться от&nbsp;получения данной информации. Для этого Вам необходимо связаться с&nbsp;нами и&nbsp;подтвердить желание не&nbsp;сообщать Вам данную информацию.</p>
			<h2>Возраст совершеннолетия</h2>
			<p>Мы&nbsp;сознательно не&nbsp;предоставляем наши услуги и&nbsp;не&nbsp;будем сознательно собирать личную информацию от&nbsp;лиц моложе совершеннолетнего возраста.</p>
			<h2>Раскрытие информации</h2>
			<p>Мы&nbsp;будем раскрывать Вашу информацию третьим лицам только в&nbsp;соответствии с&nbsp;Вашими инструкциями или в&nbsp;случае необходимости для того, чтобы предоставить Вам определенный сервис, или по&nbsp;другим причинам в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации. Мы&nbsp;не&nbsp;осуществляем, не&nbsp;продаем, не&nbsp;распространяем или раскрываем Вашу личную информацию без предварительного получения Вашего на&nbsp;то&nbsp;разрешения за&nbsp;исключением случаев, предусмотренных законодательством Российской Федерации.</p>
			<h2>Совокупные (обезличенные) данные</h2>
			<p>Мы&nbsp;также можем использовать Вашу личную информацию для получения Совокупных данных для внутреннего пользования и&nbsp;для обмена с&nbsp;другими лицами на&nbsp;выборочной основе. Термин «Совокупные данные» означает данные, которые были лишены уникальной информации (без использования дополнительной информации невозможно определить принадлежность такой информации) для потенциального выявления клиентов, целевых страниц или конечных пользователей, и&nbsp;которые были изменены или объединены для предоставления обобщенной, анонимной информации. Ваша личность и&nbsp;личная информация будет храниться анонимно в&nbsp;Совокупных данных.</p>
			<h2>Ссылки</h2>
			<p>Сайт может содержать ссылки на&nbsp;другие сайты, и&nbsp;мы&nbsp;не&nbsp;несем ответственности за&nbsp;политику конфиденциальности или содержание данных сайтов. Мы&nbsp;рекомендуем Вам ознакомиться с&nbsp;политикой конфиденциальности связанных сайтов. Их&nbsp;политика конфиденциальности и&nbsp;деятельность отличаются от&nbsp;наших Политики конфиденциальности и&nbsp;деятельности.</p>
			<h2>Cookies и&nbsp;логгирование</h2>
			<p>Мы&nbsp;используем «куки» (cookies) и&nbsp;«логи» (log files) для отслеживания информации о&nbsp;пользователях. Cookies являются небольшими по&nbsp;объему данными, которые передаются веб-сервером через Ваш веб-браузер и&nbsp;хранятся на&nbsp;жестком диске Вашего компьютера. Мы&nbsp;используем cookies для отслеживания вариантов страниц, которые видел посетитель, для подсчета нажатий сделанных посетителем на&nbsp;том или ином варианте страницы, для мониторинга трафика и&nbsp;для измерения популярности сервисных настроек.</p>
			<p>Мы&nbsp;будем использовать данную информацию, чтобы предоставить Вам релевантные данные и&nbsp;услуги. Данная информация также позволяет нам убедиться, что посетители видят именно ту&nbsp;целевую страницу, которую они ожидают увидеть, в&nbsp;том случае, если они возвращаются через тот&nbsp;же URL-адрес, и&nbsp;это позволяет нам сказать, сколько людей нажимает на&nbsp;Ваши целевые страницы.</p>
			<p>Если вы&nbsp;не&nbsp;хотите, чтобы мы&nbsp;обрабатывали ваши cookie-файлы, отключите их&nbsp;в&nbsp;настройках браузера или покиньте сайт.</p>
			<h2>Безопасность</h2>
			<p>Мы&nbsp;будем стремиться предотвратить несанкционированный доступ к&nbsp;Вашей личной информации, однако, никакая передача данных через интернет, мобильное устройство или через беспроводное устройство не&nbsp;могут гарантировать 100%-ную безопасность. Мы&nbsp;будем продолжать укреплять систему безопасности по&nbsp;мере доступности новых технологий и&nbsp;методов.</p>
			<p>Всегда будьте осторожны и&nbsp;ответственны в&nbsp;отношении Вашей личной информации. Мы&nbsp;не&nbsp;несем ответственности за&nbsp;использование и&nbsp;не&nbsp;можем контролировать использование другими лицами любой информации, которую&nbsp;Вы предоставляете&nbsp;им, и&nbsp;Вы должны соблюдать осторожность в&nbsp;выборе личной информации, которую&nbsp;Вы передаете третьим лицам через Сервисы.</p>
			<h2>Связь с&nbsp;нами</h2>
			<p>Если у&nbsp;Вас есть вопросы или предложения относительно Политики конфиденциальности, пожалуйста, напишите нам&nbsp;на: <a href="mailto: office@sportlife.ru">office@sportlife.ru</a></p>
		</div>
	</section>
{% endblock %}