.address {
	position: relative;

	font-style: normal;
}

.address__place {
	margin-bottom: 4px;
	font-weight: 600;
}

.address__time {
	margin-bottom: 0;

	opacity: .7;

	font-size: 12px;
}

.address__link {
	border-bottom: 1px solid;

	font-size: 14px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
