.block-list {
	margin: 0;
	padding: 0;

	list-style: none;

	font-weight: 600;
	line-height: 1.3;
}

.block-list__item {
	display: flex;
	align-items: center;
	padding: 6px 12px 12px;

	background-color: $gray-100-color;
	border-radius: 10px;

	&:not(:last-child) {
		margin-bottom: 22px;
	}

	&::before {
		content: '';
		flex-shrink: 0;
		width: 64px;
		height: 64px;
		margin-top: -12px;
		margin-right: 16px;

		background-color: $secondary-color;
		border-radius: 10px;
	}
}
