.breadcrumbs {
	display: flex;
	align-items: baseline;
	margin: 0;
	padding: 0;

	list-style: none;

	font-size: 12px;
}

.breadcrumbs__item {
	&:not(:last-child)::after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 16px;
		height: 16px;
		margin: 0 6px 0 4px;

		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-image: url(../img/ico/chevron-right.svg);
	}
}

.breadcrumbs__link {
	color: $black-color;
	border-bottom: 1px solid;

	line-height: 1.3;

	&:hover {
		color: $primary-color;
	}

	.breadcrumbs__item:first-child & {
		display: inline-block;
		vertical-align: middle;
		width: 16px;
		height: 16px;
		margin-right: -2px;

		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-image: url(../img/ico/home.svg);
		border: none;
		opacity: .4;

		transition: opacity 200ms;

		&:hover {
			opacity: 1;
		}
	}
}
