.button {
	display: inline-block;
	vertical-align: middle;
	min-width: 200px;
	padding: 11px 32px 13px;

	color: $white-color;
	background-color: $primary-color;
	border: none;
	border-radius: 10px;
	box-shadow: 0 10px 20px -10px rgba(10, 10, 10, .5), inset 0 0 0 0 rgba(10, 10, 10, 0);

	text-align: center;
	font-weight: 600;
	line-height: 1.5;

	transition: background-color 200ms, box-shadow 200ms;

	&:hover {
		color: $white-color;
		background-color: lighten($color: $primary-color, $amount: 5%);
	}

	&:focus {
		outline: none;
		box-shadow: 0 10px 20px -10px rgba(10, 10, 10, .5), inset 0 0 0 0 rgba(10, 10, 10, 0), 0 0 0 4px rgba($primary-color, .3);
		transition: background-color 200ms;
	}

	&:active {
		box-shadow: 0 0 0 0 rgba(10, 10, 10, 0), inset 0 10px 20px -10px rgba(10, 10, 10, .5);
		transition: background-color 200ms, box-shadow 200ms;
	}
}

.button_secondary {
	background-color: $secondary-color;

	&:hover {
		background-color: lighten($color: $secondary-color, $amount: 5%);
	}

	&:focus {
		box-shadow: 0 10px 20px -10px rgba(10, 10, 10, .5), inset 0 0 0 0 rgba(10, 10, 10, 0), 0 0 0 4px rgba($secondary-color, .3);
	}

	&:active {
		box-shadow: 0 0 0 0 rgba(10, 10, 10, 0), inset 0 10px 20px -10px rgba(10, 10, 10, .5);
	}
}

.button_gray {
	color: $secondary-color;
	background-color: $gray-100-color;
	box-shadow: 0 0 0 0 rgba(10, 10, 10, 0), inset 0 0 0 0 rgba(10, 10, 10, 0);

	&:hover {
		color: $secondary-color;
		background-color: $gray-200-color;
	}
}

.button {
	&_small {
		min-width: 180px;
		padding: 7px 24px 9px;
	}

	@each $breakpoint, $size in $breakpoints {
		@include breakpoint($breakpoint) {
			&_#{$breakpoint}_small {
				min-width: 180px;
				padding: 7px 24px 9px;
			}
		}
	}
}
