.contacts {
	margin: 0;
	padding: 0;

	list-style: none;

	font-weight: 600;
}

.contacts__item {
	&:not(:last-child) {
		margin-bottom: 4px;
	}
}

.contacts__link {
	color: $black-color;

	&:hover {
		color: $primary-color;
	}
}
