.contact-info__map {
	height: 350px;
	margin-top: -24px;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

	@include breakpoint(large) {
		margin-top: -32px;
	}
}

.contact-info__img {
	display: block;
	margin: -32px auto 24px;

	border-radius: 10px;

	@include breakpoint(medium) {
		width: 100%;
	}
}

.contact-info__details {
	@include breakpoint(medium) {
		display: flex;
		flex-direction: column;
		padding-top: 32px;
	}
}

.contact-info__address {
	margin-bottom: 16px;
}

.contact-info__contacts {
	margin-bottom: 24px;
}

.contact-info__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -8px;

	.button {
		margin: 0 8px 16px;
	}

	@include breakpoint(medium) {
		justify-content: flex-start;
		margin-top: auto;
		margin-bottom: 32px;
	}
}
