.field {
	position: relative;

	&::after {
		content: attr(data-error);
		position: absolute;
		right: 0;
		top: 100%;
		top: calc(100% - 10px);
		z-index: -1;

		padding: 10px 12px 4px;

		border-radius: 0 0 10px 10px;

		font-size: 12px;
	}
}

.field_invalid::after {
	color: $white-color;
	background-color: lighten($error-color, 30%);
}

.field__text {
	margin-bottom: 6px;
	margin-left: 20px;

	font-weight: 600;

	small {
		color: $gray-500-color;

		font-size: 12px;
		font-weight: 400;
	}
}

.field__input {
	width: 100%;
	height: 56px;
	padding: 10px 16px;

	border: 4px solid $gray-200-color;
	border-radius: 10px;

	line-height: 20px;

	transition: border-color 200ms;

	&:hover {
		border-color: $gray-500-color;
	}

	&:focus {
		border-color: $secondary-color;
		outline: none;
	}

	.field_invalid & {
		border-color: lighten($error-color, 30%);
		box-shadow: none;
	}

	.field_valid & {
		border-color: lighten($green-color, 30%);
	}

	.field_invalid &:hover {
		border-color: lighten($error-color, 20%);
	}

	.field_invalid &:focus {
		border-color: $error-color;
	}

	.field_valid &:hover {
		border-color: lighten($green-color, 20%);
	}

	.field_valid &:focus {
		border-color: $green-color;
	}
}

.field__input_textarea {
	height: auto;
}

.field__input_select {
	appearance: none;

	background-repeat: no-repeat;
	background-position: right 16px top 50%;
	background-image: url(../img/ico/select.svg);

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}
}
