.form {
	text-align: center;

	@include breakpoint(large) {
		text-align: left;
	}
}

.form__label {
	display: block;

	text-align: left;

	&:not(:last-child) {
		margin-bottom: 24px;
	}
}

.form__button {
	.form__label + & {
		margin-top: 24px;
	}
}
