.header-info {
	padding: 24px 20px;

	@include breakpoint(medium) {
		padding: 24px;
	}
}

.header-info__address {
	margin-bottom: 20px;
}

.header-info__logo {
	display: none;
}

.header-info__contacts {
	margin-bottom: 20px;
}
