.jobs {
	align-items: flex-start;
}

.jobs__list {
	margin-bottom: 48px;
}

.jobs__item {
	&:not(:last-child) {
		margin-bottom: 48px;

		@include breakpoint(medium) {
			margin-bottom: 56px;
		}

		@include breakpoint(large) {
			margin-bottom: 80px;
		}
	}
}
