.mobile-bar {
	display: flex;
	justify-content: space-between;
	padding: 16px 20px;

	@include breakpoint(medium) {
		padding-right: 24px;
		padding-left: 24px;
	}

	@include breakpoint(large) {
		display: none;
	}
}

.mobile-bar__menu {
	.no-js & {
		visibility: hidden;
	}

	@include breakpoint(medium) {
		margin-right: 160px;
	}
}

.mobile-bar__logo {
	margin: auto;
}

.mobile-bar__address {
	display: none;
	flex-basis: 208px;

	text-align: right;

	@include breakpoint(medium) {
		display: block;
	}
}

.mobile-bar__contacts {
	@include breakpoint(medium) {
		display: none;
	}
}
