.modal {
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    will-change: opacity;

    &.is-open {
        animation-name: mask-in;
    }

    &.is-close {
        animation-name: mask-out;
    }
}

.modal__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    background-color: rgba($black-color, .7);

    will-change: transform, opacity;
}

.modal__container {
    position: relative;

    max-width: 500px;
    max-height: 100vh;
    padding: 20px;

    background-color: $white-color;
    border-radius: 10px;
	box-shadow: 0 10px 20px -10px rgba(10, 10, 10, .5);

    will-change: transform;
    animation-duration: 250ms;
    animation-fill-mode: forwards;

    p:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(medium) {
        padding: 24px;
    }

    @include breakpoint(large) {
        max-width: 700px;
        padding: 32px;
    }

    .is-open & {
        animation-name: modal-in;
    }

    .is-close & {
        animation-name: modal-out;
    }
}

.modal__container_shrinked {
    padding: 0;
}

.modal__close {
    position: absolute;
    top: -16px;
    right: -16px;

    background-color: $white-color;
    box-shadow: 0 10px 20px -10px rgba(10, 10, 10, .5);

	@include breakpoint(medium) {
        top: -24px;
        right: -24px;
    }
}

.modal__heading {
    margin: 0 0 16px;
    padding: 0 16px;

    text-align: center;
	font-size: 22px;
    line-height: 1.3;

    color: $secondary-color;

	@include breakpoint(medium) {
		margin-bottom: 28px;

		font-size: 30px;
	}

	@include breakpoint(large) {
		font-size: 36px;
	}
}

@keyframes modal-in {
    0% {
        opacity: 0;
        transform: translateY(15%) scale(.8);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes modal-out {
    0% {
        opacity: 1;
        transform: none;
    }

    100% {
        opacity: 0;
        transform: translateY(15%) scale(.8);
    }
}

@keyframes mask-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mask-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
