.page-header {
	padding-bottom: 72px;

	color: $white-color;
	background-color: $secondary-color;

	.no-js & {
		position: relative;
		width: auto;
		visibility: visible;
		transform: translateX(0);
	}

	@include breakpoint(medium down) {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 100;

		min-width: 260px;
		max-width: 360px;
		width: 100%;
		width: calc(100% - 80px);
		visibility: hidden;

		transform: translateX(-100%);
	}

	@include breakpoint(large) {
		padding-bottom: 0;

		color: $black-color;
		background-color: $white-color;
	}
}

.page-header_opened {
	visibility: visible;
	transform: translateX(0);
	transition: transform 200ms;
}

.page-header_closed {
	transition: transform 200ms, visibility 1ms linear 300ms;
}

.page-header__container {
	max-width: $page-max-width;
	margin: 0 auto;
}

.page-header__nav {
	padding: 8px 0;
	border-bottom: 4px solid rgba($white-color, .1);

	@include breakpoint(large) {
		padding: 0;
		border-color: $gray-100-color;
	}
}

.page-header__info {
	@include breakpoint(medium down) {
		a {
			color: $white-color;

			&:hover {
				color: $primary-color;
			}
		}
	}

	@include breakpoint(large) {
		max-width: $page-max-width;
		margin: 0 auto;
	}
}

.page-header__button {
	@include breakpoint(medium down) {
		position: absolute;
		bottom: 20px;
		left: 50%;

		display: block;
		width: calc(100% - 40px);
		max-width: 400px;

		transform: translateX(-50%);
	}
}

.page-header__close {
	position: absolute;
	top: 0;
	left: 100%;

	background-color: transparent;
	border-radius: 0;

	transform: translateX(-100%);
	transition: background-color 200ms, transform 150ms ease-in-out 150ms;

	.page-header_opened & {
		transform: translateX(0);
		transition: background-color 200ms, transform 200ms;
	}

	.no-js & {
		display: none;
	}

	@include breakpoint(large) {
		display: none;
	}
}
