.promo__slider {
	margin: -32px 0 -24px;

	@include breakpoint(large) {
		margin-top: -56px;
		margin-bottom: -72px;
	}
}

.promo__hero {
	position: relative;
	z-index: 1;

	display: flex;
	flex-direction: column;
	margin-bottom: 88px;
	padding: 20px 20px 0;

	color: $white-color;
	background-color: $primary-color;
	border-radius: 10px;

	@include breakpoint(medium) {
		padding: 28px 32px 0;
	}

	@include breakpoint(large) {
		margin-bottom: 0;
	}
}

.promo__heading {
	font-size: 25px;
	font-weight: 800;
	line-height: 1.3;

	@include breakpoint(medium) {
		font-size: 36px;
	}
}

.promo__text {
	@include breakpoint(large) {
		margin-bottom: 16px;
	}
}

.promo__button {
	align-self: center;
	margin-top: -12px;

	transform: translateY(50%);

	@include breakpoint(medium) {
		align-self: flex-start;
	}
}

.promo__list {
	position: relative;
	z-index: 1;
}
