.response {
	padding: 20px 20px 0;

	background-color: $gray-100-color;
	border-radius: 10px;

	text-align: center;

	&::before {
		content: '';
		display: block;
		width: 80px;
		height: 80px;
		margin: 0 auto 24px;

		background-color: $white-color;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 40px;
		border-radius: 50%;
	}

	@include breakpoint(medium) {
		padding: 24px 24px 0;
	}

	@include breakpoint(large) {
		padding: 32px 32px 0;
	}
}

.response_success {
	&::before {
		background-image: url(../img/ico/check-green.svg);
	}
}

.response_error {
	&::before {
		background-image: url(../img/ico/error.svg);
	}
}

.response__text {
	max-width: 460px;
	margin-right: auto;
	margin-left: auto;
}

.response__contacts {
	margin-bottom: 24px;
}

.response__button {
	margin-top: -12px;

	transform: translateY(50%);
}
