.schedule {
	margin: 0;
	padding: 0;

	list-style: none;
}

.schedule__item {
	display: flex;
	justify-content: space-between;
	padding: 4px 0;

	&:not(:last-child) {
		border-bottom: 4px solid rgba($secondary-color, .1);
	}
}

.schedule__time {
	font-weight: 600;
}

.schedule__days_short_work::before {
	content: 'Пн-Пт';
}

.schedule__days_short_weekend::before {
	content: 'Сб-Вс';
}
