.services {
	background-color: $gray-100-color;
}

.services__card {
	max-width: 380px;
	margin: 0 auto 40px;

	@include breakpoint(large) {
		max-width: none;
	}

	&::after {
		content: '';
		display: block;
		padding-bottom: 63%; // percent for card ratio

		background-color: $secondary-color;
		background-repeat: no-repeat;
		background-position: 50% 32%;
		background-size: 57% auto, auto auto;
		background-image: url('https://via.placeholder.com/160x90'), linear-gradient($secondary-color 80%, $primary-color 80%);
		border-radius: 10px;
		box-shadow: 0 10px 20px -10px rgba(10, 10, 10, .5);
	}
}

.services__included {
	margin-bottom: 40px;

	@include breakpoint(medium) {
		display: flex;
	}

	@include breakpoint(large) {
		display: block;
	}
}

.services__list {
	margin-bottom: 24px;

	@include breakpoint(medium) {
		flex-grow: 1;
		margin-right: 24px;
	}
}

.services__text {
	flex-basis: 220px;
	min-width: 200px;
}

.services__tariffs {
	margin-bottom: 16px;
}
