.services {
	background-color: $gray-100-color;
	background-repeat: no-repeat;
	background-position: 30% -72px;
	background-position: calc(50% + 20px) -72px;
	background-size: 507px 453px;
	background-image: url(../img/bg/gradient.png);

	@media (min-resolution: 144dpi) {
		background-image: url(../img/bg/gradient@2x.png);
	}

	@include breakpoint(medium) {
		background-position: 50% 20px;
	}

	@include breakpoint(large) {
		background-position: 10% 76px;
		background-position: calc(50% - 370px) 76px;
	}
}

.services__card {
	max-width: 380px;
	margin: 0 auto 40px;

	@include breakpoint(large) {
		max-width: none;
	}

	&::after {
		content: '';
		display: block;
		padding-bottom: 63%; // percent for card ratio

		background-color: $secondary-color;
		background-repeat: no-repeat;
		background-position: 50% 32%;
		background-size: 57% auto, auto auto;
		background-image: url(../img/logo-white.svg), linear-gradient($secondary-color 80%, $primary-color 80%);
		border-radius: 10px;
		box-shadow: 0 10px 20px -10px rgba(10, 10, 10, .5);
	}
}

.services__included {
	margin-bottom: 40px;

	@include breakpoint(medium) {
		display: flex;
	}

	@include breakpoint(large) {
		display: block;
	}
}

.services__list {
	margin-bottom: 24px;

	@include breakpoint(medium) {
		flex-grow: 1;
		margin-top: 0;
		margin-right: 24px;
	}

	@include breakpoint(large) {
		margin-right: 0;
		margin-bottom: 32px;
	}
}

.services__text {
	flex-basis: 220px;
	min-width: 200px;
}

.services__tariffs {
	margin-bottom: 16px;
}
