.session {
    padding: 16px 12px 14px;

    background-color: $hall-big-color;
    border-radius: 15px;
}

.session__heading {
    margin: 0;
    font-size: 14px;
}

.session__trainer {
    margin: 0;
    font-size: 11px;
}

.session__placetime {
    margin: 0;
    font-size: 12px;
}
