.slider__list {
	margin: 0 0 -24px;
	padding: 0;

	list-style: none;
}

.slider__item {
	display: none;
}

.slider__img {
	display: block;
}

.slider__item_active {
	display: block;
}

.slider__controls {
	display: none;
	// display: flex;
	margin-bottom: 20px;
	margin-left: 20px;
}

.slider__button {
	display: block;
	width: 48px;
	height: 48px;
	margin-right: 12px;

	background-color: $primary-color;
	border: none;
	border-radius: 50%;

	transition: background-color 200ms;

	&:hover {
		background-color: lighten($color: $primary-color, $amount: 5%);
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 4px rgba($primary-color, .3);
	}
}
