.slider {
	position: relative;
}

.slider__list {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;

	list-style: none;

	&.tns-slider {
		max-width: none;
	}
}

.slider__item {
	display: flex;
	max-height: 320px;

	.no-js & {
		display: none;

		&:first-child {
			display: flex;
		}
	}

	picture {
		flex-basis: 100%;
		display: flex;
		height: 100%;
	}

	@include breakpoint(medium) {
		max-height: 450px;
	}

	@include breakpoint(large) {
		max-height: 570px;
	}
}

.slider__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider__autoplay {
	position: absolute;
	bottom: 0;
	right: 20px;
	z-index: 2;

	display: block;
	width: 48px;
	height: 48px;
	margin-left: -20px;

	background-color: $primary-color;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(../img/ico/pause.svg);
	border: none;
	border-radius: 50%;

	transition: background-color 200ms;

	&[data-action='start'] {
		background-image: url(../img/ico/play.svg);
	}

	.no-js & {
		display: none;
	}

	&:hover {
		background-color: lighten($color: $primary-color, $amount: 5%);
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 4px rgba($primary-color, .3);
	}

	@include breakpoint(medium) {
		right: 56px;
	}

	@include breakpoint(large) {
		top: 48px;
		right: auto;
		bottom: auto;
		left: 84px;

		opacity: 0;

		transition: opacity 200ms;

		.slider:hover & {
			opacity: 1;
		}
	}

	@include breakpoint($page-max-width) {
		left: calc(50% - #{$page-max-width / 2 - 84px});
	}
}

.slider__controls {
	position: relative;
	z-index: 1;

	display: flex;
	margin-top: -24px;
	margin-bottom: 40px;
	padding-left: 20px;

	&:focus {
		outline: none;
	}

	.no-js & {
		display: none;
	}

	@include breakpoint(medium) {
		margin-top: -88px;
		margin-left: 24px;
		padding-left: 32px;
	}

	@include breakpoint(large) {
		max-width: $page-max-width;
		margin-top: -130px;
		margin-bottom: 88px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 64px;
	}
}

.slider__button {
	display: block;
	width: 48px;
	height: 48px;
	margin-right: 12px;

	background-color: $primary-color;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(../img/ico/slider-right.svg);
	border: none;
	border-radius: 50%;

	transition: background-color 200ms;

	&:first-child {
		transform: rotate(180deg);
	}

	&:hover {
		background-color: lighten($color: $primary-color, $amount: 5%);
	}

	&:focus,
	.slider__controls:focus & {
		outline: none;
		box-shadow: 0 0 0 4px rgba($primary-color, .3);
	}
}
