.slider {
	background-color: $gray-200-color;
}

.slider__list {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;

	list-style: none;
}

.slider__item {
	display: none;
	max-height: 320px;

	picture {
		flex-basis: 100%;
		display: flex;
	}

	@include breakpoint(medium) {
		max-height: 450px;
	}

	@include breakpoint(large) {
		max-height: 570px;
	}
}

.slider__item_active {
	display: flex;
}

.slider__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider__controls {
	display: flex;
	margin-bottom: 20px;
	margin-left: 20px;

	.no-js & {
		display: none;
	}
}

.slider__button {
	display: block;
	width: 48px;
	height: 48px;
	margin-right: 12px;

	background-color: $primary-color;
	border: none;
	border-radius: 50%;

	transition: background-color 200ms;

	&:hover {
		background-color: lighten($color: $primary-color, $amount: 5%);
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 4px rgba($primary-color, .3);
	}
}
