.social {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.social_center {
	justify-content: center;
}

.social_header {
	@include breakpoint(large) {
		justify-content: flex-end;
	}
}

.social__item {
	&:not(:last-child) {
		margin-right: 12px;
	}
}

.social__link {
	display: block;
	width: 44px;
	height: 44px;

	background-color: rgba($white-color, .1);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;

	transition: background-color 200ms;

	&:hover {
		background-color: rgba($white-color, .3);
	}

	.social_header & {
		@include breakpoint(large) {
			width: 38px;
			height: 38px;

			background-color: $secondary-color;

			&:hover {
				background-color: lighten($color: $secondary-color, $amount: 5%);
			}
		}
	}
}

.social__link_instagram {
	background-image: url(../img/ico/social/instagram.svg);

	.social_header & {
		background-size: 18px;
	}
}

.social__link_vk {
	background-image: url(../img/ico/social/vk.svg);

	.social_header & {
		background-size: 24px;
	}
}
