.submenu {
	margin: 0;
	padding: 12px 0;

	list-style: none;

	background-color: $secondary-color;
	border-radius: 10px;
}

.submenu__link {
	display: block;
	padding: 10px 20px;

	color: $white-color;

	transition: background-color 200ms;

	&:hover {
		color: $white-color;
		background-color: rgba($white-color, .1);
	}

	&:focus {
		outline-offset: -2px;
	}

	.submenu__item_active & {
		background-color: rgba($white-color, .2);

		&:hover {
			background-color: rgba($white-color, .1);
		}
	}
}
