.subscriptions {
	.no-js & {
		display: none;
	}
}

.subscriptions__list {
	margin: 0;
	padding: 0;

	list-style: none;

	border-radius: 10px;

	&:focus-within {
		box-shadow: 0 0 0 4px $white-color, 0 0 0 8px rgba($secondary-color, .3);
	}

	@include breakpoint(medium) {
		display: flex;
	}

	@include breakpoint(large) {
		flex-direction: column;
	}
}

.subscriptions__item {
	&:not(:last-child) {
		margin-bottom: 16px;
	}

	@include breakpoint(medium) {
		flex-grow: 1;

		&:not(:last-child) {
			margin-right: 24px;
			margin-bottom: 0;
		}
	}

	@include breakpoint(large) {
		&:not(:last-child) {
			margin-right: 0;
			margin-bottom: 16px;
		}
	}
}

.subscriptions__card {
	position: relative;

	padding-top: 18px;

	background-color: $gray-100-color;
	border-radius: 10px;
	box-shadow: 0 0 0 4px $white-color;

	transition: color 200ms, background-color 200ms, box-shadow 200ms, transform 300ms;

	&::after {
		content: 'Абонемент';

		display: block;
		padding: 5px 26px 7px;

		color: rgba($black-color, .7);
		background-color: rgba($secondary-color, .1);
		border-radius: 0 0 10px 10px;

		font-size: 14px;
		text-transform: lowercase;

		transition: color 200ms, background-color 200ms;
	}

	&:hover {
		background-color: $gray-200-color;
	}

	input:checked + & {
		color: $white-color;
		background-color: $primary-color;
		box-shadow: 0 10px 20px -10px rgba(10, 10, 10, .5);

		&::after {
			color: rgba($white-color, .7);
			background-color: $secondary-color;
		}

		&:hover {
			background-color: lighten($color: $primary-color, $amount: 5%);
		}
	}

	@include breakpoint(large) {
		z-index: 0;
		background-color: $gray-200-color;

		.subscriptions__item:first-child &,
		.subscriptions__item:last-child & {
			background-color: $gray-100-color;
		}

		&::before {
			content: attr(data-name);
			position: absolute;
			top: 50%;
			right: 0;
			bottom: 0;
			left: 0;

			display: flex;
			align-items: flex-end;
			padding: 18px 26px;

			color: $gray-500-color;
			background-color: $gray-200-color;
			border-radius: 10px;

			font-size: 18px;
			font-weight: 600;

			transition: opacity 300ms;

			.subscriptions__item:first-child &,
			.subscriptions__item:last-child & {
				background-color: $gray-100-color;
			}

			.subscriptions__list:focus-within &,
			.subscriptions__list:hover & {
				opacity: 0;
			}
		}

		$max-cards: 6;

		@for $i from 1 through $max-cards {
			.subscriptions__item:nth-child(#{$i}) & {
				z-index: $i;

				@if ($i != 1) {
					transform: translateY(calc(-#{100% * ($i - 1)} + #{48px * ($i - 1)}));
				}
			}

			.subscriptions__item_active ~ .subscriptions__item:nth-child(#{$i}) & {
				z-index: $max-cards - $i;
			}
		}

		.subscriptions__list:hover &,
		.subscriptions__list:focus-within & {
			background-color: $gray-100-color;
			transform: translateY(0);
		}

		.subscriptions__item input:checked + & {
			z-index: 20;
			background-color: $primary-color;

			&::before {
				opacity: 0;
			}
		}

		.subscriptions__list:hover &:hover,
		.subscriptions__list:focus-within &:hover {
			background-color: $gray-200-color;
		}

		.subscriptions__item input:checked + &:hover {
			background-color: lighten($color: $primary-color, $amount: 5%);
		}
	}
}

.subscriptions__heading {
	margin: 0 26px 10px;

	font-size: 18px;
	font-weight: 600;

	transition: color 200ms;

	&::before {
		content: '';
		position: absolute;
		top: 17px;
		left: -16px;

		display: block;
		width: 32px;
		height: 32px;

		background-color: $white-color;
		background-repeat: no-repeat;
		background-position: 40% 50%;
		background-image: url(../img/ico/check.svg);
		border: 4px solid $primary-color;
		border-radius: 50%;
		opacity: 0;

		transition: opacity 200ms;

		input:checked + .subscriptions__card & {
			opacity: 1;
		}
	}

	.subscriptions__list:hover &,
	.subscriptions__list:focus-within & {
		color: $black-color;
	}

	.subscriptions__item input:checked + .subscriptions__card & {
		color: $white-color;
	}

	@include breakpoint(large) {
		color: $gray-500-color;
	}
}

.subscriptions__schedule {
	margin-bottom: 10px;
	padding: 0 26px;

	font-size: 14px;
}
