.tariffs__list {
	padding: 0;

	list-style: none;
}

.tariffs__item {
	position: relative;

	display: flex;
	flex-direction: column;
	min-width: 280px;
	margin-bottom: 40px;
	padding: 20px 20px 0;

	background-color: $white-color;
	border-radius: 10px;

	&:focus-within {
		box-shadow: 0 0 0 4px rgba($secondary-color, .3);
	}

	@include breakpoint(medium down) {
		&:nth-child(2) {
			flex-basis: 70%;
			order: -1;
		}
	}
}

.tariffs__heading {
	margin-top: 0;
	margin-bottom: 20px;

	font-size: 20px;
	font-weight: 600;
}

.tariffs__label {
	position: absolute;
	top: -12px;
	right: 20px;

	padding: 6px 14px;
	color: $white-color;
	background-color: $primary-color;
	border-radius: 5px;

	font-size: 12px;
	text-transform: uppercase;
	line-height: 1;
}

.tariffs__schedule {
	margin-bottom: 20px;
}

.tariffs__price {
	flex-grow: 1;
	margin-bottom: 20px;
}

.tariffs__button {
	align-self: center;
	margin-top: -12px;

	transform: translateY(50%);
	transition: background-color 200ms, box-shadow 200ms, opacity 200ms, transform 200ms;

	@include breakpoint(large) {
		opacity: 0;
		transform: translateY(80%);

		&:focus,
		.tariffs__item:hover &,
		.tariffs__item:nth-child(2) & {
			opacity: 1;
			transform: translateY(50%);
		}
	}
}
