.text-block {
	background-color: $gray-100-color;
}

.text-block_mission {
	padding-bottom: 96px;

	background-repeat: no-repeat;
	background-position: right 20px top 100%;
	background-image: url('https://via.placeholder.com/137x134');
}
