.top-bar__list {
	margin: 0;
	padding: 8px 0;

	list-style: none;
}

.top-bar__link {
	display: block;
	padding: 8px 20px;

	color: $white-color;

	transition: color 200ms, background-color 200ms;

	&:hover {
		color: $white-color;
		background-color: rgba($white-color, .1);
	}

	&:focus {
		outline-offset: -2px;
	}

	.top-bar__item_active & {
		background-color: rgba($white-color, .2);

		&:hover {
			background-color: rgba($white-color, .1);
		}
	}

	@include breakpoint(medium) {
		padding-right: 24px;
		padding-left: 24px;
	}
}
