.vacancy {
	display: flex;
	flex-direction: column;
	padding: 20px 20px 0;

	background-color: $gray-100-color;
	border-radius: 10px;

	&:focus-within {
		box-shadow: 0 0 0 4px rgba($secondary-color, .3);
	}

	@include breakpoint(medium) {
		display: block;
		padding: 24px 24px 0;
	}

	@include breakpoint(large) {
		padding: 32px 32px 0;
	}
}

.vacancy__heading {
	margin: 0 0 12px;

	color: $secondary-color;

	font-size: 18px;
	font-weight: 600;
}

.vacancy__employment,
.vacancy__salary {
	display: inline-block;
	margin-bottom: 22px;
	padding-left: 32px;

	color: $gray-500-color;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.vacancy__employment {
	margin-right: 32px;
	margin-bottom: 16px;
	background-image: url(../img/ico/jobs/employment.svg);
}

.vacancy__salary {
	background-image: url(../img/ico/jobs/salary.svg);

	&::after {
		background-image: url(../img/ico/ru/ru-600-gray.svg);
	}
}

.vacancy__text {
	margin-bottom: 16px;

	p:last-child {
		margin-bottom: 0;
	}
}

.vacancy__responsibilities {
	margin-bottom: 16px;
	padding-left: 24px;

	list-style: none;

	li {
		position: relative;
		margin-bottom: 8px;

		&::before {
			content: '';
			position: absolute;
			top: 9px;
			left: -16px;

			display: block;
			width: 8px;
			height: 8px;

			background-color: $primary-color;
			border-radius: 50%;
		}
	}
}

.vacancy__button {
	order: 1;
	align-self: center;
	margin-top: -12px;

	transform: translateY(50%);

	@include breakpoint(medium) {
		margin-right: 24px;
	}
}

.vacancy__link {
	align-self: center;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 12px;

	color: $secondary-color;
	border-bottom: 1px solid;

	&:hover {
		color: $primary-color;
	}

	@include breakpoint(medium) {
		margin-bottom: 0;

		transform: translateY(50%);
	}
}
