<footer class="page__footer page-footer">
    <div class="page-footer__container">
        <div class="page-footer__logo">
            <a href="/" class="logo">
                <img src="/templates/olympic-touch/img/logo-small-white.svg" width="180" height="42" alt="Olympic Touch" class="logo__img">
            </a>
        </div>

        <address class="page-footer__address address">
            <p class="address__place">ул. Доблести, 9</p>
            <p class="address__time">Время работы: 7:00–24:00</p>
            <a href="/contacts/" class="address__link">Посмотреть на карте</a>
        </address>

        <ul class="page-footer__social social social_center">
            <li class="social__item">
                <a href="#" class="social__link social__link_instagram">
                    <span class="visually-hidden">Instagram</span>
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link social__link_vk">
                    <span class="visually-hidden">В контакте</span>
                </a>
            </li>
        </ul>

        <ul class="page-footer__contacts contacts">
            <li class="contacts__item">
                <a href="tel:89210984646" class="contacts__link">8 921 098-46-46</a>
            </li>
            <li class="contacts__item">
                <a href="mailto:info@olympic-touch.ru" class="contacts__link">info@olympic-touch.ru</a>
            </li>
        </ul>

        <a href="/order/" class="page-footer__button button">Оформить карту</a>
    </div>

    <div class="page-footer__info">
        <div class="page-footer__container">
            <p class="page-footer__copyright">© 2020 OLYMPIC TOUCH</p>
            <p class="page-footer__dev dev">
                dev by <a href="https://frontend-design.ru/" class="dev__link" target="_blank" rel="nofollow">Artur Trifonov</a>
            </p>
        </div>
    </div>
</footer>
