<header class="page__header page-header">
    {% include "blocks/top-bar.njk" %}

    <div class="page-header__info header-info">
        <address class="header-info__address address">
            <p class="address__place">ул. Доблести, 9</p>
            <p class="address__time">Время работы: 7:00–24:00</p>
            <a href="#" class="address__link">Посмотреть на карте</a>
        </address>

        <div class="header-info__logo">
            <a href="/" class="logo">
                <img src="https://via.placeholder.com/180x100" alt="Olympic Touch" class="logo__img">
            </a>
        </div>

        <div class="header-info__contacts">
            <ul class="contacts">
                <li class="contacts__item">
                    <a href="tel:89210984646" class="contacts__link">8 921 098-46-46</a>
                </li>
                <li class="contacts__item">
                    <a href="mailto:info@olympic-touch.ru" class="contacts__link">info@olympic-touch.ru</a>
                </li>
            </ul>

            <ul class="social">
                <li class="social__item">
                    <a href="#" class="social__link social__link_instagram">
                        <span class="visually-hidden">Instagram</span>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link social__link_vk">
                        <span class="visually-hidden">В контакте</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>