{% macro session(props, halls) %}
    <div class="schedule-body__session session session_hall_{{ props.hall }}">
        <strong class="session__heading">{{ props.type }}</strong>
        <p class="session__trainer">{{ props.trainer }}</p>

        {% if props.labels.length %}
            <p class="session__labels">
                {% for label in props.labels %}
                    {% set labelMod = 'session__label_' + label.type %}

                    <span class="session__label {{ labelMod if label.type != 'base' }}">
                        <span class="session__label-text">{{ label.text }}</span>
                    </span>
                {% endfor %}
            </p>
        {% endif %}

        <p class="session__placetime">
            <time datetime="{{ props.date }} {{ props.timeStart }}">{{ props.timeStart }}</time> &ndash; <time datetime="{{ props.date }} {{ props.timeEnd }}">{{ props.timeEnd }}</time>
            <span class="session__place">{{ halls[props.hall] }}</span>
        </p>

        <a href="#" class="session__sign">
            <span class="visually-hidden">Записаться</span>
        </a>
    </div>
{% endmacro %}
