{% set title = 'Реквизиты клуба Olympic Touch' %}
{% set description = 'Юридическая и банковская информация клуба Olympic Touch' %}
{% set keywords = 'Реквизиты' %}
{% set activeTopBar = 'about' %}
{% set activeSubmenu = 'requisites' %}

{% extends '../layouts/index.njk' %}

{% block content %}
	<header class="page-main__header main-header">
		<ul class="main-header__breadcrumbs breadcrumbs" aria-label="Хлебные крошки">
			<li class="breadcrumbs__item">
				<a href="/" class="breadcrumbs__link">
					<span class="visually-hidden">Главная страница</span>
				</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="/about/" class="breadcrumbs__link">О нас</a>
			</li>
			<li class="breadcrumbs__item">Реквизиты</li>
		</ul>

		<h1 class="main-header__heading">Реквизиты</h1>

        <div class="main-header__submenu">
	    	{% include "blocks/submenu.njk" %}
		</div>
	</header>

	<section class="page-main__section">
		<div class="page-main__container">
			<div class="content flex-grid flex-grid_8 flex-grid_large_12">
				<div class="content__text flex-grid__column">
					<table> 
						<tbody> 
							<tr> 
								<th>Наименование</th>
								<td>ООО «Фитнес-Групп»</td>
							</tr>
							<tr> 
								<th>Юридический адрес</th>
								<td>ул.&nbsp;Маршала Захарова, д. 20, литер Б, г.&nbsp;Санкт-Петербург, Россия, 198332</td>
							</tr>
							<tr> 
								<th>Фактический адрес</th>
								<td>ул. Доблести, д.&nbsp;9, г.&nbsp;Санкт-Петербург, Россия, 198328</td>
							</tr>
							<tr> 
								<th>ИНН</th>
								<td>7807378065</td>
							</tr>
							<tr> 
								<th>КПП</th>
								<td>780701001</td>
							</tr>
							<tr> 
								<th>ОГРН</th>
								<td>1137847068061</td>
							</tr>
							<tr> 
								<th>Р/С</th>
								<td>40702810500000001654</td>
							</tr>
							<tr> 
								<th>Банк</th>
								<td>ООО «Банк Оранжевый», г. Санкт-Петербург</td>
							</tr>
							<tr> 
								<th>К/С</th>
								<td>30101810000000000904</td>
							</tr>
							<tr> 
								<th>БИК</th>
								<td>044030904</td>
							</tr>
							<tr> 
								<th>Генеральный директор</th>
								<td>А. Ю. Жарков</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="content__aside
							flex-grid__column flex-grid__column_8 flex-grid__column_medium_3 flex-grid__column_large_3
							aside">
					<h2 class="aside__heading">Загрузите информацию:</h2>

					<ul class="aside__files files">
						<li class="files__item">
							<a href="/files/documents/requisites.pdf" class="files__link">Реквизиты клуба Olympic Touch</a>
						</li>
						<li class="files__item">
							<a href="/files/documents/report.pdf" class="files__link">Отчет о проведении специальной оценки условий труда</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
