{% set title = 'Заморозка карты Olympic Touch' %}
{% set description = 'Заморозка карты Olympic Touch' %}
{% set keywords = 'Заморозка карты' %}
{% set activeTopBar = 'freeze' %}

{% extends '../layouts/index.njk' %}

{% block content %}
	<header class="page-main__header main-header">
		<ul class="main-header__breadcrumbs breadcrumbs" aria-label="Хлебные крошки">
			<li class="breadcrumbs__item">
				<a href="/" class="breadcrumbs__link">
					<span class="visually-hidden">Главная страница</span>
				</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="/feedback/" class="breadcrumbs__link">Заморозка карты</a>
			</li>
			<li class="breadcrumbs__item">Результат отправки</li>
		</ul>

		<h1 class="main-header__heading">Результат отправки</h1>
	</header>

	<section class="page-main__section">
		<div class="page-main__container">
			<div class="response response_success">
				<h2 class="page-main__heading">Ваше сообщение успешно отправлено!</h2>

				<p class="response__text">Мы ответим на ваше обращение в ближайшее время. Вы также можете связаться с нами любым из доступных способов:</p>
				<ul class="response__contacts contacts">
					<li class="contacts__item">
						<a href="tel:89210984646" class="contacts__link">8 921 098-46-46</a>
					</li>
					<li class="contacts__item">
						<a href="mailto:info@olympic-touch.ru" class="contacts__link">info@olympic-touch.ru</a>
					</li>
				</ul>
				<a href="/" class="response__button button">Вернуться на главную</a>
			</div>
		</div>
	</section>
{% endblock %}
