{% set title = 'Заморозка карты Olympic Touch' %}
{% set description = 'Заморозка карты Olympic Touch' %}
{% set keywords = 'Заморозка карты' %}
{% set activeTopBar = 'freeze' %}

{% extends '../layouts/index.njk' %}

{% block content %}
	<header class="page-main__header main-header">
		<ul class="main-header__breadcrumbs breadcrumbs" aria-label="Хлебные крошки">
			<li class="breadcrumbs__item">
				<a href="/" class="breadcrumbs__link">
					<span class="visually-hidden">Главная страница</span>
				</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="/feedback/" class="breadcrumbs__link">Заморозка карты</a>
			</li>
			<li class="breadcrumbs__item">Результат отправки</li>
		</ul>

		<h1 class="main-header__heading">Результат отправки</h1>
	</header>

	<section class="page-main__section">
		<div class="page-main__container">
			<div class="response response_error">
				<h2 class="page-main__heading">Ваше сообщение не отправлено =(</h2>

				<div class="response__details">
					<p class="response__title">Форма не была отправлена, так как не были заполнены следующие поля:</p>
					<ul>
						<li>Имя;</li>
						<li>Сообщение.</li>
					</ul>
				</div>

				<p class="response__text">Что-то пошло не так и сообщение не отправилось.</p>
				<p class="response__comment">Вы можете попробовать еще раз, либо связаться с нами любым из доступных способов:</p>
				<ul class="response__contacts contacts">
					<li class="contacts__item">
						<a href="tel:89210984646" class="contacts__link">8 921 098-46-46</a>
					</li>
					<li class="contacts__item">
						<a href="mailto:info@olympic-touch.ru" class="contacts__link">info@olympic-touch.ru</a>
					</li>
				</ul>
				<a href="/freeze/" class="response__button button">Вернуться к форме</a>
			</div>
		</div>
	</section>
{% endblock %}
