@mixin outline($inset: false) {
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgba($primary-color, .5);

    @if ($inset == 'inset') {
        outline-offset: -2px;
    } @else {
        outline-offset: 2px;
    }
}

@mixin breakpoint($props) {
    $breakpoint: nth($props, 1);
    $direction: if(length($props) > 1, nth($props, 2), false);

    @if ($breakpoint == small) {
        @content;
    } @else if (map-get($breakpoints, $breakpoint)) {
        @if ($direction == down) {
            @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
                @content;
            }
        } @else {
            @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
                @content;
            }
        }
    } @else {
        @warn 'breakpoint "#{$props}" is not defined in $breakpoints variables';
    }
}
