{% set title = 'Правила поведения в клубе с детьми' %}
{% set description = 'Правила поведения с детьми в клубе Olympic Touch' %}
{% set keywords = 'Правила поведения с детьми' %}
{% set activeTopBar = 'about' %}
{% set activeSubmenu = 'rules-kids' %}

{% extends '../layouts/index.njk' %}

{% block content %}
	<header class="page-main__header main-header">
		<ul class="main-header__breadcrumbs breadcrumbs" aria-label="Хлебные крошки">
			<li class="breadcrumbs__item">
				<a href="/" class="breadcrumbs__link">
					<span class="visually-hidden">Главная страница</span>
				</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="/about/" class="breadcrumbs__link">О нас</a>
			</li>
			<li class="breadcrumbs__item">Правила поведения с детьми</li>
		</ul>

		<h1 class="main-header__heading">Правила поведения детей и родителей</h1>

	    {% include "blocks/submenu.njk" %}
	</header>

	<section class="page-main__section content">
		<div class="content__text">
			<p>Правила для клиентов Клуба устанавливают нормы поведения Клиентов (родителей и детей) в здании и на территории Клуба.</p>
			<p>Правила внутреннего распорядка имеют целью способствовать рациональному использованию времяпровождению, улучшению качества рабочего процесса, укреплению дисциплины, воспитанию культуры поведения  клиентов и развитию навыков общения, развития уважения к личности и ее правам.</p>

			<h2>Общие правила поведения</h2>
			<p>Правила внутреннего распорядка для клиентов основываются: на соблюдении законов Российской Федерации, положениях, нормах взаимоуважения в коллективе.</p>
			<p>В Клуб нельзя приносить, передавать и применять с любой целью оружие, взрывчатые, огнеопасные вещества, спиртные напитки, наркотики, табачные изделия, а также токсичные вещества и яды.</p>
			<p>Курение в Клубе является противоправным действием, строжайшим нарушением правил внутреннего распорядка. Распитие спиртных напитков, курение в здании и на территории Клуба, азартные и карточные игры запрещены.</p>
			<p>Во избежание инфицирования детей в Клубе, просим оставить ребенка дома в следующих случаях:</p>
			<ul>
				<li>если у ребенка насморк, кашель, болит горло или другое инфекционное заболевание;</li>
				<li>если у ребенка расстройство желудка, тошнота или другое кишечное недомогание;</li>
				<li>если у ребенка повышенная температура;</li>
				<li>если у ребенка сыпь, незажившие ранки.</li>
			</ul>

			<h2>Права клиента</h2>
			<p>Права и обязанности ребенка охраняются Конституцией Российской Федерации.</p>
			<p>Ребенок имеет право на:</p>
			<ul>
				<li>свободное выражение собственных взглядов, убеждений и мнений.</li>
				<li>Взглядам ребенка уделяется должное внимание в соответствии с его возрастом и зрелостью;</li>
				<li>свобода мысли, совести и религии;</li>
				<li>уважение человеческого достоинства;</li>
				<li>право быть выслушанным.</li>
			</ul>

			<h2>Обязанности клиента</h2>
			<p>Клиент обязан выполнять правила клуба</p>
			<ul>
				<li>соблюдать дисциплину — основу порядка в клубе</li>
				<li>в соответствии с расписанием посещать занятия;</li>
				<li>систематически и прилежно овладевать теоретическими знаниями и практическими навыками и умениями; исключить, удалить</li>
				<li>соблюдать правила техники безопасности во время занятий, а также различных мероприятий;</li>
				<li>соблюдать чистоту в помещениях клуба, а также на его территории;</li>
				<li>беречь спортивное оборудование и технические средства обучения, мебель, инвентарь и прочее имущество клуба;</li>
				<li>вести себя достойно, быть вежливыми, тактичными друг к другу, к сотрудникам клуба;</li>
			</ul>

			<h2>Строго запрещается:</h2>
			<ul>
				<li>находиться в помещении клуба в верхней одежде и головных уборах, а также без сменной обуви или бахил;</li>
				<li>входить и выходить в/из зал(а)/кабинет(а) после начала занятий и во время их проведения;</li>
				<li>громко разговаривать, шуметь, допускать нецензурные выражения;</li>
				<li>сорить в залах/кабинете и других помещениях клуба;</li>
				<li>приносить в клуб колющие и  режущие предметы,  газовые  баллончики,  оружие  (в  т. Ч.  Газовое, пневматическое или имитационное), пиротехнику,  игральные карты, любые предметы, которые могут создать угрозу безопасности жизни,  и пользоваться ими в здании и на территории клуба;</li>
				<li>курить;</li>
				<li>распивать спиртные напитки пиво и другие напитки, содержащие алкоголь;</li>
				<li>употреблять и распространять наркотические и токсические средства;</li>
				<li>выяснять отношения друг с другом в некорректной форме.</li>
			</ul>

			<h2>Правила посещения клуба</h2>
			<p>Дети могут находиться в клубе во время его работы с 10:00 до 21:00 с понедельника по субботу и с 10:00 до 20:00 в воскресение.</p>
			<ul>
				<li>родители несут персональную ответственность за детей на территории клуба.</li>
				<li>дети до 5 лет могут посещать клуб только в сопровождении родителей или уполномоченных ими лиц (сопровождающее лицо), дети старше 5 лет занимаются в клубе самостоятельно только при наличии письменного заявления родителей.</li>
				<li>ребенка должен привести и забрать один и тот же родитель или сопровождающее лицо. Сопровождающий ожидает ребенка, находясь в гостевой зоне клуба. Несовершеннолетние, не имеющие членства, не могут пользоваться услугами клуба.</li>
				<li>родители (или сопровождающие лица) должны своевременно привести ребенка в клуб, а также вовремя забрать по окончании установленного времени. Родители несут ответственность за детей, находящихся на территории клуба без присмотра.</li>
				<li>родителям или сопровождающим лицам запрещено самостоятельно использовать оборудование клуба, вмешиваться в процесс занятий, проводимых сотрудниками клуба и требовать изменения формата уроков групповых занятий.</li>
				<li>если родители не уверены, что ребенок может остаться один, в силу физической или возрастной особенности, родитель обязан оставить его под присмотром отдельно выделенного сопровождающего.</li>
				<li>после окончания занятий дети ожидают родителей в клубе.</li>
				<li>клуб не несет ответственность за вред, связанный с ухудшением здоровья, если состояние здоровья ребенка ухудшилось в результате острого заболевания, обострение травмы или хронического заболевания.</li>
				<li>клуб не несет ответственности за вред, причиненный здоровью и/или имуществу ребенка, противоправными действиями третьих лиц или самого ребенка.</li>
				<li>клуб не несет ответственности, если причиной нанесения вреда здоровью стало грубое нарушение правил посещения занятий, не использование вводных инструктажей. Нарушение врачебных рекомендаций.</li>
				<li>при подозрении на наличие у ребенка острого и/или хронического инфекционного и/или кожного заболевания посещение клуба запрещено. При несоблюдении данного правила клуб оставляет за собой право временно отстранить ребенка от посещения клуба до полного выздоровления.</li>
				<li>при неадекватном поведении ребенка (агрессия, истерическое состояние, намеренная порча имущества, оскорбление других клиентов клуба и персонала), которое создает неудобства и/или дискомфорт для других детей и взрослых, родители или сопровождающие лица обязаны забрать ребенка из клуба. В случае, если данная ситуация носит систематический характер, клуб вправе расторгнуть договор в одностороннем порядке.</li>
				<li>оставляя ребенка в клубе, сообщайте инструктору место вашего нахождения и номер телефона.</li>
				<li>сообщите инструкторам индивидуальные особенности ребенка, черты его характера, предпочтения.</li>
				<li>все ценные вещи (сотовый телефон, деньги, эл. Аппаратуру и др.) ребенок обязан оставить, а родитель проконтролировать в личной ячейке под эл. Замком.</li>
				<li>за утерю и порчу личных ценных вещей на территории клуба администрация ответственности не несет.</li>
				<li>вход в клуб с животными строго запрещен.</li>
				<li>в случае утери ключа от шкафчика в раздевалке, утери (порчи) полотенца, утери номерка от гардероба, передачи индивидуальной клубной карты третьим лицам взимается штраф, установленный клубом, в соответствии с прейскурантом</li>
				<li>размер материально компенсации за порчу иного имущества устанавливается комиссией по каждому случаю отдельно в зависимости от причиненного ущерба. Клуб оставляет за собой право изменять сумму штрафов.</li>
				<li>запись на персональные тренировки с ребенком проводятся по договоренности с инструктором и по предварительной оплате.</li>
			</ul>

			<h2>Правила поведения в раздевалках</h2>
			<ul>
				<li>шкафчики в раздевалке используются для размещения одежды, обуви и других личных и ценных вещей.</li>
				<li>перед уходом из клуба номерной ключ от шкафчика необходимо сдать на рецепцию.</li>
				<li>для помощи в переодевании ребенка можно воспользоваться услугами персонала клуба.</li>
			</ul>

			<h2>Правила поведения на занятиях</h2>
			<ul>
				<li>дети посещают занятия в соответствии с возрастом. Возрастные ограничения указаны в описании занятий. Инструктор может не допустить до занятия ребенка младше или старше указанного в расписании возраста.</li>
				<li>ребенок должен быть одет в удобную спортивную одежду и кроссовки, а также соблюдать правила общей и личной гигиены. Инструктор вправе не допустить на занятие ребенка без соответствующей формы и обуви.</li>
				<li>дети имеют право войти в зал/кабинет на занятия только с разрешения и в сопровождении преподавателя/инструктора.</li>
				<li>инструктор имеет право не допустить до занятий ребенка, опоздавшего более чем на 5 минут после начала занятия, во избежание травм ребенка.</li>
				<li>переход из одной тренировочной зоны в другую, в рамках расписания групповых занятий, осуществляется только в сопровождении инструктора.</li>
				<li>недопустимо прерывать учебные/тренировочные занятия, входить в зал/кабинет и выходить из него во время их проведения.</li>
				<li>во время занятия нельзя шуметь, самовольно ходить, отвлекаться самому и отвлекать товарищей от занятий посторонними разговорами, играми и другими не относящимися к занятию делами. На занятиях не разрешается жевать резинку, пользоваться мобильными телефонами, слушать плеер, пользоваться другими отвлекающими от занятий предметами. </li>
				<li>выходить из зала на занятиях без разрешения преподавателя/инструктора запрещается. В случае крайней необходимости клиент должен попросить разрешения у преподавателя/инструктора.</li>
				<li>только когда преподаватель/инструктор объявит об окончании занятий, ребенок вправе покинуть занятие.</li>
			</ul>

			<h2>Ответственность за нарушение дисциплины</h2>
			<ul>
				<li>за нарушение настоящих правил к клиентам могут быть применены различные меры дисциплинарного взыскания:</li>
				<li>замечание с занесением в личную карточку клиента;</li>
				<li>возмещение материального ущерба за счет средств родителей</li>
			</ul>
		</div>

		<div class="content__aside aside">
			<h2 class="aside__heading">Загрузите информацию:</h2>

			<ul class="aside__files files">
				<li class="files__item">
					<a href="/files/documents/rules-kids.docx" class="files__link">Правила поведения детей и родителей</a>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}